<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
    <link
      rel="shortcut icon"
      href="https://raw.githubusercontent.com/thapatechnical/webproject/master/public/images/logo.png"
      type="image/png"
    />
    <title>Static Web</title>
  </head>
  <body>
    {{>navbar}}

    <!-- Weather Page Content -->
    <form action="/weather" class="h-100">
    
    
    <div class="weather-form container">

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="enter your city name" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-dark" type="submit" id="button-addon2">search</button>
</div>
    <div class="output">
      <div class="current-day">
        <h4 class="day">--</h4>
        <h4 class="date_month">--</h4>
      </div>
      <div class="weather-forecast">
        <h2 class="name_country">select city</h2>
        <div class="weather-content">
          <h1 class="temp">0&deg;C</h1>
          <div class="temp-status">
            <i class='fas  fa-sun' style='color: #eccc68;'></i>
          </div>
        </div>
        
      </div>
    </div>
    </div>
    </form>
{{>footer}}

    <!-- bootstrap-js-cdn -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>

    <script src="index.js"></script>
  </body>
</html>